# Eclipse project folder
.settings/

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target
# IDE相关，不再同步
/.idea
/*.iml
/.classpath
/*.eml
/.project
# 以下是词典和模型的二进制文件，请不要提交到版本库
*.dat
*.bin
*.yes
# 我做实验用的目录
/data/test
# 大模型
data/model/*
!data/model/README.txt
# 系统文件
**/.DS_Store
.java-version
# 配置文件等（资源文件统一放到data）
src/main/resources/